doctype html 
html 
    head   
        style 
          include ../static/style.css  
    body 
          nav#navbar 
             ul
                div#logo 
                    img(src='/static/img/logo-dance.png')
                    | KDA 
                li #[a(href='/') Home]
                li #[a(href='/') About]
                li #[a(href='/') Join]
                li #[a(href='/') Contact]
                li #[a(href='/') Services]

          section#introSection 
             div WELCOME TO KARAN DANCE ACADEMY
             div.small DANCE INDIA DANCE  
            
          section#missionSection 
             h2 Our mission
             div.card 
              h3 Incredible Dance Moves 
              div.card-box 
                  div.card-img
                      img(src='/static/img/pic1.png') 
                  div.card-content 
                      p We will teach you incredible dance moves that will blow your mind !
             div.card 
              h3 24/7 Guidance 
              div.card-box 
                  div.card-img
                      img(src='/static/img/pic2.png') 
                  div.card-content 
                      p We also provide 24/7 guidance so that you never feel alone in the process 
             div.card 
              h3 Award Winning Coaches
              div.card-box 
                  div.card-img
                      img(src='/static/img/pic3.png') 
                  div.card-content 
                      p We have plenty of award winning coaches who will guide you 

          section#sponsorSection 
            h3 Our sponsors
            div#sponsor 
                img(src="/static/img/client1.png", alt="sponsor image", class = 'spImage')
                img(src="/static/img/client2.png", alt="sponsor image", class = 'spImage')
                img(src="/static/img/client3.png", alt="sponsor image", class = 'spImage')
                img(src="/static/img/client4.png", alt="sponsor image", class = 'spImage')
            
          footer#footer 
            | © Copyright KaranDanceAcademy.com | All Rights Reserved 2023

          script 
            include ../static/index.js  
            
