h1{
    text-align: center;
    margin: 9px 0px;
    font-family: 'Righteous', cursive; 
    
}

#navbar{
    background-color: blue;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 85vh;
}

.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myInput{
    width: 40%;
    padding: 9px 11px;
    margin: 11px 0px;
    text-align: center;
    font-size: 16px;
    border: 2px solid #d36d7f;
    border-radius: 9px;
    outline: none;
}

.btn{
    padding: 5px 11px;
    margin: 5px 0px;
    color: white;
    background-color: #7258f1;
    text-shadow: 1px 1px black;
    border: 2px solid #8a1b2f;
    border-radius: 9px;
    outline: none;
    cursor: pointer;
}